@model Day2.Models.employee
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("updateData", "Day"))
{
    <input type="hidden" name="Eid" value=" @Model.Eid" />
    <label class="col-md-u">Name</label>
    <div class="col-md-u">
        <input type="text" name="Ename" class="form-control " />
    </div>
    <label>Address</label>
    <div class="col-md-u">
        <input type="text" name="EAddress" class=" form-control " />
    </div>
    <label>Contact</label>
    <div class="col-md-u">
        <input type="text" name="EContact" class=" form-control " />
    </div>
    <br />
    <div class=" col-md-u">
        <input type="submit" class=" btn btn-success " value=" submit" />
    </div>
}
<br>

